body {
  background-color: #f0f0f0;
  /* Light gray background */
}

.video-container {
  display: flex;
  flex-direction: column;
  /* Arrange videos vertically */
  align-items: center;
  /* Center align videos horizontally */
  margin-top: 50px;
  /* Adjust margin as needed */
  background-color: #041d32;
  /* Blue background */
  padding: 20px;
  /* Add some padding */
  border-radius: 15px;
  /* Apply border radius */
}

video {
  /* Scale video to 50% of original size */
  width: 50%;
  /* Adjust width as needed */
  max-width: 800px;
  /* Adjust max width as needed */
  margin-bottom: 20px;
  /* Adjust spacing between videos */
  border-radius: 15px;
  /* Apply border radius */
}